<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lecz.clubdelosvencedores" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".register.RegisterActivityOne"
            android:label="@string/title_activity_register_activity_one"
            android:screenOrientation="sensorPortrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register.RegisterActivityTwo"
            android:label="@string/title_activity_register_activity_two"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".register.RegisterActivityThree"
            android:label="@string/title_activity_register_activity_three"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".register.RegisterActivityFour"
            android:label="@string/title_activity_register_activity_four"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".register.RegisterActivityFive"
            android:label="@string/title_activity_register_activity_five"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".general.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait" >
        </activity>

        <receiver android:name=".general.BroadcastService" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".general.NotificationService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
        </service>

        <activity
            android:name=".general.CallFiendsActivity"
            android:label="@string/title_activity_panic"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".general.CallContactActivity"
            android:label="@string/title_activity_panic"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Game.Game"
            android:label="@string/title_activity_panic"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".MyActivity"
            android:label=""
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".general.AchievementsActivity"
            android:label="@string/title_activity_achievements"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".general.Activity_Noticias"
            android:label="@string/title_activity_achievements"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".general.Activity_Articulo"
            android:label="@string/title_activity_achievements"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".VideosActivity"
            android:label="@string/title_activity_videos"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".VideoPlayer"
            android:label="@string/title_activity_video_player"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".PreGameActivity"
            android:label="@string/title_activity_pre_game" >
        </activity>
        <activity
            android:name=".ScoreGameActivity"
            android:label="@string/title_activity_score_game" >
        </activity>
        <activity
            android:name=".AdviceActivity"
            android:label="@string/title_activity_advice" >
        </activity>
    </application>

</manifest>
